body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
  }
.view-container{
    width: 100%;
    display: block;
    align-items: center;
    justify-items: center;
    padding: 0 10px;
    overflow: hidden;
}

.sub-container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    overflow-x: scroll;
    // & > div:first-child{
    //     min-width:1000px;
    // }
}
.divTable{
	display: table;
	width: 100%;
    max-width:800px;
    cursor: pointer;
}
.divTableRow {
	display: table-row;
}

.divTableRow:nth-child(2n+2){
    background: rgba(0, 0, 0, 0.05);
}


.divTableCell, .divTableHead {
	border: 1px solid #fff(214, 38, 38);
	display: table-cell;
	padding: 7px 10px;
}
.divTableHeading {
	background-color: #5c9fd6ed;
	display: table-header-group;
	font-weight: bold;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
    & .divTableRow {

        border-bottom: 1px solid black;


        &:hover{
                background: rgba(0, 0, 0, 0.1);
                transition: all 0.1s;
            }
    }
}

.bg-t{
    background: transparent !important;
}
.c-222{
    color: #222 !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.aliRight{
    display:flex;
    align-items: center;
    justify-content: right;
    width:100%;
}
.aliLeft{
    text-align: left;
}
.text-center{
    text-align: center !important;
}
.B{
    font-weight: bold;
}

.input-goles{
  border-radius: 2px;
  width: 20px;
  box-sizing: border-box;
  border: none;
  text-align: center;
  outline: none;
  box-shadow: 0 0 5px #ddd;
  line-height: 20px;
}
.pR{ position:relative;}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #fff;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #007c8a;
    /* color of the scroll thumb */
    border-radius: 5px;
    /* roundness of the scroll thumb */
    border: 1px solid #fff;
    /* creates padding around scroll thumb */
}

.Estado{
    padding: 2px 5px;
    border-radius: 5px;
    cursor:pointer;
    &.Finalizado{
        background-color: #28a745;
        color:white;
    }
}
.mT10{
    margin-top: 10px;
}
.mT20{
    margin-top: 20px;
}
.pT10{
    padding-top: 10px;
}
.pT20{
    padding-top: 20px;
}
.btn-guardar{
    &.no-hay-cambios{
        cursor: not-allowed;
        background-color: rgba(0,0,0,0.5);
        &:hover{
            background-color: rgba(0,0,0,0.5);
        }
    }
}
